button
	border: none
	outline: none
	display: block
	&:active
		outline: none
		border: none
.button
	border-radius: 32px !important
	border: none
	background: linear-gradient(180deg, #EB95AC 0%, #E05E80 46.35%, #BF3F61 100%)
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.43)
	margin-bottom: 5px
	a
		color: #ffffff
		font-family: "Segoe UI"
		font-size: 20px
		font-weight: 400
		text-decoration: none
		&:hover				
			text-decoration: none
	&:hover
		transition: .2
		transform: scale(1.05)
	box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.43)
