*
	margin: 0
	padding: 0
	font-family: 'Roboto'
	font-weight: 400
.title
	color: #000
	font-family: "Roboto"
	width: 90%
	font-size: 50px
	font-weight: 700
	margin: 10px auto
	padding: 15px
	border-bottom: 1px solid grey
.title2
	color: #000
	font-family: "Roboto"
	font-size: 30px
	font-weight: 700
.color
	&-pink
		color: $PINK !important
	&-rurple
		color: $PURPLE !important
section
	padding: $nav_height - 10px 0
#modal
	display: none
	position: fixed
	overflow: hidden
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background-color: rgba(#000, .5)
	z-index: 1000
#modal-close
	width: 25px
	height: 25px
	text-align: right
	color: rgba(grey, .4)
	font-size: 1.2rem
	font-weight: bold
	margin: 15px 15px 0 auto
	text-shadow: 1px 1px 3px rgba(grey, .6)
	overflow: hidden
	background-image: url('/img/svg/cross.svg')
	background-size: contain
	background-repeat: no-repeat
	&:hover
		color: grey
		cursor: pointer

.container 
	overflow: hidden

.navi-string
	display: flex
	margin: 15px 0
	a
		color: $clr_text
		text-decoration: none
	span
		font-weight: bold
		&:hover
			color: $PURPLE
.label-sale
	position: absolute
	top: 10px
	right: 10px
.form-inputs
	justify-content: space-between
	text-align: center
	input
		padding: 5px
		margin: 10px
		width: 100%
		padding-left: 15px
		border-radius: 26px
		border: 1px solid #e05e80
		background-color: #ffffff
		&:focus
			outline: none
			box-shadow: 0 0 8px $PINK
@media screen and ( max-width:  861px)
	#modal-close
		position: fixed
		right: 5px
		top: 5px
	.label-sale
		width: 32px
		height: 32px
		top: 3px
		left: 3px