.aboutUs {
  margin-top: 70px;
  text-align: center;
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0d0d0d;
    font-family: 'Montserrat';
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    
  }
  img {
    max-width: 100%;
    width: 100px;
    height: 100px;
  }
  p {
    color: #000000;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
  }
}