.blog {
  cursor: pointer;
  a {
    color: #000000;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
  }
  p {
    color: #000000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
  }
}