.breaking
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    max-width: 1920px
    min-height: 605px
    margin: auto
    margin-top: $nav_height - 15px
    background-image: url('../img/breaking/header_bg.jpg')
    .row
        justify-content: space-between
        align-items: center
    &-image
        width: 380px
        height: 270px
        border-radius: 4px
        box-shadow: 2px 2px 6px rgba(#000,.5 )
        //border: 1px solid $PURPLE
        overflow: hidden
        &:first-child
            transform: rotate(-2.5deg)
            margin-top: 15px
            img
                z-index: -1
        &:last-child
            transform: rotate(2.5deg)
            margin: -15px 0 15px 15px
    .block
        display: flex
        justify-content: space-between
        align-items: center
        background-color: rgba(grey, .1)
        margin-top: 10px
        padding: 0 15px
        .text
            font-size: 30px
            color: $PURPLE
            text-align: right
            font-weight: bold
        .bold
            font-size: 36px
            color: $PINK
            
.about
    min-height: 500px
    max-width: 1920px
    background-color: $PURPLE
    margin: auto
    padding: 35px
    .row
        justify-content: space-between
        margin-top: 35px
    h1
        font-size: 52px
        color: white
        text-transform: uppercase
        text-align: center
        padding: 0
    &-card
        text-align: center
    &-text
        font-size: 32px
        color: white
        width: 100%
        text-align: center
        margin-top: 25px
        line-height: 38px
        .bold
            color: $PINK
            font-weight: bold
        .little
            font-size: 18px
            text-transform: uppercase
.contacts
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    max-width: 1920px
    min-height: 427px
    margin: 0 auto
    background-image: url('../img/breaking/men.jpg')
    position: relative
    &-tittle
        font-size: 22px
        color: white
        text-align: center
        font-weight: bold
    &-card
        position: absolute
        left: 45%
        top: 36%
    .phone
        display: block
        color: $PINK
        font-size: 24px        
        font-weight: bold
        text-align: center
.footer
    margin-top: 0
.nav
    .tittle
        color: white
        font-weight: bold
        justify-self: flex-start
    .active
        color: $PINK
