.breaking
    background-position: center
    background-size: cover
    page-break-inside: no-repeat
    max-width: 1920px
    margin: auto
.nav
    .tittle
        color: white
        font-weight: bold
        justify-self: flex-start
