#services
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	max-width: 1920px
	margin: auto
	.container
		@include box-shadow
		padding: 25px 15px
		background-color: rgba(#fff, .4)
		border-radius: 10px
	.form
		margin: 90px auto
		width: 90%
		@include box-shadow
		padding: 25px
		background-color: rgba(#fff, .7)
		border-radius: 10px
		&-inputs
			justify-content: space-between
			text-align: center
		input
			padding: 5px
			margin: 10px
			width: 100%
			padding-left: 15px
			border-radius: 26px
			border: 1px solid #e05e80
			background-color: #ffffff
@media screen and ( max-width: 1200px )
	.form
		text-align: center
		input
			width: 80%
			text-align: center
		.button
			width: 50% !important
			
		